spring:
  application:
    name: bioeng-tsn-app

  # Database Configuration (PostgreSQL)
  datasource:
    url: jdbc:postgresql://localhost:5433/imperial_profiles?currentSchema=public
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: 123456
    hikari:
      schema: public
      connection-timeout: 30000
      maximum-pool-size: 10
  
  # Transaction Management
  transaction:
    default-timeout: 30

# MyBatis Plus
mybatis-plus:
  mapper-locations: classpath*:generator/mapper/*.xml,classpath*:com/zds/bioengtsnapp/mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
server:
  port: 8081

deepseek:
  api:
    key: sk-947999f810174d0a9781edc1b33ac20b
  base-url: https://api.deepseek.com
